---
# Only the main Sass file needs front matter
---

@import "minimal-mistakes";

/* ===== CUSTOM STYLES ===== */

.project-card {
  background: red;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
